<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>

<body>
    <img id="Img" src="https://c.tenor.com/6a_4Q6DHoWcAAAAi/chef-cooking.gif">
    <div class="home">
        <h1 id="index">Recipe Box</h1>
        <button id="addBtn"><a id="addLink" href="/recipes/new">Add Recipe</a></button>
    </div>
    <div class="recipeHome">
        <ul>
            <% recipes.forEach(recipe=> { %>
                <li>
                    <a id="indexTitle" href="/recipes/<%= recipe._id; %>">
                        <%= recipe.recipeTitle; %><br />
                        <img id="indexImg" src="<%= recipe.imageLink; %>">
                    </a>
                    <button id="editBtn"><a id="editLink" href="/recipes/<%=recipe._id%>/edit">Edit</a></button>
                </li>
            <% }) %>
        </ul>
    </div>
</body>

</html>