<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>
<body>
    <h1 id="index">Recipe Box</h1>
    <button id="add"><a href="/recipes/new">Add Recipe</a></button>
    <table>
        <tr>
        <% recipes.forEach(recipe => { %>
            <td>
                <%= recipe.recipeTitle; %>
                <img src="<%= recipe.imageLink; %>">
            </td>
        <% }) %>
        </tr>
    </table>
    
</body>
</html>