<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>

<body>
    <nav>
        <button><a href="/recipes">Back</a></button>
    </nav>
    <img src="https://c.tenor.com/bFj_A0omx2UAAAAC/raccoon-writing.gif"><br />
    <form action="/recipes" method="POST">
        <label for="recipeTitle">Recipe Title</label><br />
        <input type="text" name="recipeTitle"><br />
        <label for="imageLink">Image Link</label><br />
        <input type="text" name="imageLink"><br />
        <label for="description">Description</label><br />
        <input type="text" name="description"><br />
        <label for="prepTime">Prep Time</label><br />
        <input type="text" name="prepTime"><br />
        <label for="ingredients">Ingredients</label><br />
        <input type="text" name="ingredients"><br />
        <label for="instructions">Instructions</label><br />
        <input type="text" name="instructions"><br />
        <input id="addRecipe" type="submit" value="Add Recipe">
    </form>
</body>

</html>